body{
}

#eslogan{
	float: none !important;
	width: auto !important;
	margin: 0 !important;
	text-align: justify !important;
	color: #000;
	background-color:#FFFFFF;
	font: 12pt  Georgia, "Times New Roman", Times, serif;
}

#btnpedido{
	display: none !important;
}

#bannertop{
	display: none !important;
}

#fconos{
	display: none !important;
}

.menuitem2{
	display: none !important;
}

#contenido{
	float: none !important;
	width: auto !important;
	margin: 0 !important;
	text-align: justify !important;
}

#tituloprin h2{
	float: none !important;
	width: auto !important;
	margin: 0 !important;
	text-shadow: none !important;
	text-align: justify !important;
	color: #000;
	background-color:#FFFFFF;
	font: 20pt  Georgia, "Times New Roman", Times, serif;
}

#texto h3{
	float: none !important;
	width: auto !important;
	margin: 0 !important;
	text-shadow: none !important;
	text-align: justify !important;
	color: #000;
	background-color:#FFFFFF;
	font: 18pt  Georgia, "Times New Roman", Times, serif;
}

#texto p{
	float: none !important;
	width: 600px !important;
	margin: 0 !important;
	text-align: justify !important;
	color: #000;
	background-color:#FFFFFF;
	font: 12pt  Georgia, "Times New Roman", Times, serif;
}

#foto{
	display: none !important;
}

footer{
	float: none !important;
	width: auto !important;
	margin: 500px !important;
	text-align: left !important;
}

#footercentro{
	float: none !important;
	width: auto !important;
	margin: 0 !important;
	text-align: left !important;
}

#fizq{
	display: none !important;
}

#fder{
	float: none !important;
	width: 600px !important;
	margin: 0 !important;
	text-align: left !important;
	color: #000;
	background-color:#FFFFFF;
	font: 12pt  Georgia, "Times New Roman", Times, serif;
}

#redes{
	float: none !important;
	width: auto !important;
	margin: 0 !important;
	text-align: justify !important;
	color: #000;
	background-color:#FFFFFF;
	font: 12pt  Georgia, "Times New Roman", Times, serif;
}

.fredes{
	float: none !important;
	width: auto !important;
	margin: 0 !important;
	text-align: justify !important;
	color: #000;
	background-color:#FFFFFF;
	font: 12pt  Georgia, "Times New Roman", Times, serif;
}

.fredes a:link, a:visited{
	float: none !important;
	width: auto !important;
	margin: 0 !important;
	text-decoration: none;
	color: black;
	text-align: justify !important;
	background-color:#FFFFFF;
	font: 12pt  Georgia, "Times New Roman", Times, serif;
}

#twitter{
	float: none !important;
	width: auto !important;
	margin: 0 !important;
	text-align: justify !important;
	color: #000;
	background-color:#FFFFFF;
	font: 12pt  Georgia, "Times New Roman", Times, serif;
}

#facebook{
	float: none !important;
	width: auto !important;
	margin: 0 !important;
	text-align: justify !important;
	color: #000;
	background-color:#FFFFFF;
	font: 12pt  Georgia, "Times New Roman", Times, serif;
}

#derechos{
	float: none !important;
	width: auto !important;
	margin-left: -200px !important;
	text-align: justify !important;
	color: #000;
	background-color:#FFFFFF;
	font: 12pt  Georgia, "Times New Roman", Times, serif;
}
